@mixin respond-at($media) {
  @media only screen and (min-width: $media) {
    @content;
  }
}

$bp-xsmall: 600px;
$bp-small: 780px;
$bp-med: 1060px;
$bp-large: 1400px;

$primary-color: #af232e;

@import "partials/reset";
@import "partials/typography";
@import "partials/utility";
@import "partials/nav";
@import "partials/footer";


.flexContainer {
  width: 100%;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  div:nth-last-of-type(-n+2) {
    margin-bottom: 0;
  }
}

.flexItem {
  margin-bottom: 0;
  width: 100%;
  flex: 1 1 auto;
  @include respond-at($bp-med) {
    width: 40%;
    margin-bottom: 50px;
  }
}

.flexItemFull {
  // margin-bottom: 50px;
  width: 100%;
  flex: 1 1 auto;
}

.flexImage {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.flexText {
  padding: 0 10px;
  @include respond-at($bp-small) {
    padding: 0 40px;
  }
  @include respond-at($bp-med) {
    padding: 80px;
  }
}

.flexTextThin {
  padding: 20px 80px;
}

.readMoreLink {
  background-color: $primary-color;
  color: white;
  padding: 15px;
  margin: 0 0 0 15px;
  &:hover {
    background-color: darken($primary-color, 15);
    transition-property: all;
    transition-duration: 0.5s;
  }
}

.readMoreContainer {
  width: 100%;
  flex: 1 1 auto;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
ul.infoList {
& > li {
    margin: 25px;
    padding-left: 20px;
    text-indent: -20px;
  }

}

.buttonLinkShadow {
  background-color: $primary-color;
  color: white;
  border-radius: 5px;
  box-shadow: 5px 5px 5px darken($primary-color, 15);
  transition-property: box-shadow;
  transition-duration: 0.5s;

  &:hover {
    box-shadow: 15px 15px 15px darken($primary-color, 15);
    transition-property: all;
    transition-duration: 1s;
  }
}
