<footer>
  <div class="flexContainer">
    <div class="flexText flexItem">
      <h3 class="centerText"><a href="contact.html">Come. Join Us On Our Mission!</a></h3>
      <p class="centerText"><strong></strong></p>
    </div>
  </div>
</footer>
