<footer>
  <div class="flexContainer">
    <div class="flexItem">
      <h2 class="centerText">Come, join Us On Our Mission!</h2>
      <div class="footerLinkContainer">
        <a class="footerLink buttonLinkShadow" href="contact.html">Become A Volunteer!</a>
        <a class="footerLink buttonLinkShadow" href="donate.html">Donate!</a>
      </div>
    </div>
    <div class="footerLinkContainer">
      <img class="footerLogo" src="images/logo.png" alt="The Westerville Caring and Sharing log">
    </div>
  </div>
  <div class="flexContainer">
    <div class="flexItemFull centerText footerBox">
      <h4>Copyright ©2018 Westerville Caring and Sharing</h4>
      <p>Email:
        <a href="mailto:WestervilleCaringSharing@gmail.com">WestervilleCaringSharing@gmail.com</a>
      </p>
      <p>Phone:
        <a href="tel:6144704320">614-470-4320</a>
      </p>
      <p>Address: P.O. Box 970 Westerville 43086</p>
    </div>
  </div>
  <script src="scripts/scroll.js" charset="utf-8"></script>
</footer>
