 <header>
  <div class="headerImgContainer" style="background-image: url('images/{{ headerImage}}');">
    <div class="titleContainer">
      <h1 class="pageTitle"> {{ pageTitle }}</h1>
      <h2 class="pageSubHeading">{{ pageSubHeading }}</h2>
  </div>
  </div>
  <div class="navbarContainer">
    <div class="logoContainer">
      <img class="logo" src="images/logo.png" alt="Westerville Caring and Sharing logo">
    </div>
    <nav>
      <ul class="noList noListBlock navList {{ pageOn }}">
        <li><a id="homeLink" class="navLink" href="/">Home</a></li>
        <li><a id="aboutLink" class="navLink" href="about.html">About Us</a></li>
        <li><a id="projectsLink" class="navLink" href="projects.html">Projects</a></li>
        <li><a id="programsLink" class="navLink" href="programs.html">Programs</a></li>
        <li><a id="whoweserveLink" class="navLink" href="whoweserve.html">Who We Serve</a></li>
        <li><a id="volunteerLink" class="navLink" href="volunteer.html">Be A Volunteer</a></li>
        <li><a id="contactLink" class="navLink" href="contact.html">Contact Us</a></li>
        <li class="navLinkSpecial"><a class="navLink" href="contact.html">Donate Now!</a></li>
      </ul>
    </nav>
  </div>
</header>
