 <header>
  <div class="headerImgContainer" style="background-image: url('images/{{ headerImage}}');">
    <h1 class="pageTitle"> {{ pageTitle }}</h1>
    <h2 class="pageSubHeading">{{ pageSubHeading }}</h2>
  </div>
  <div class="navbarContainer">
    <div class="logoContainer">
      <img class="logo" src="images/logo.png" alt="Westerville Caring and Sharing logo">
    </div>
    <nav>
      <ul class="noList noListBlock navList">
        <li><a class="navLink" href="/">Home</a></li>
        <li><a class="navLink" href="about.html">About Us</a></li>
        <li><a class="navLink" href="projects.html">Projects</a></li>
        <li><a class="navLink" href="programs">Programs</a></li>
        <li><a class="navLink" href="whoweserve.html">Who We Serve</a></li>
        <li><a class="navLink" href="contact.html">Contact Us</a></li>
      </ul>
    </nav>
  </div>
</header>
