.footerLinkContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.footerLink {
  padding: 15px;
  margin: 15px;
}

.footerLogo {
  margin: 40px 40px 0 40px;
  width: auto;
  height: 150px;
}

.footerBox {
  margin-top: 60px;
  background-color: $primary-color;
  color: white;
  & a {
    color: inherit;
  }
}
