header {
  width: 100%;
}

.headerImgContainer {
  height: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0 0 15px grey;
}

.titleContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.78);
}

.navbarContainer {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  @include respond-at($bp-small) {
    align-items: center;
  }
}

input[type=checkbox] {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

label {
  margin: 25px 25px 0 0;
  cursor: pointer;
  font-weight: 600;
  align-self: flex-end;
  @include respond-at($bp-small) {
    display: none;
    margin-top: 0;
  }
}

input[type=checkbox]:checked ~ ul {
  max-height: 500px;
  transition-property: max-height;
  transition-duration: 1s;
  background-color: #F7F7F7;
}
$min_width: 320px;
$max_width: 1200px;
$navList_min_font: 15px;
$navList_max_font: 20px;

nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-height: 0;
  overflow: hidden;
  @include respond-at($bp-small) {
    max-height: none;
    border: none;
  }
  color: black;
  @include fluid-type($min_width, $max_width, $navList_min_font, $navList_max_font);
  text-align: center;

  & a {
    color: inherit;
  }
  padding: 15px 25px;

  & > li {
    padding: 15px;
    width: 100%;
    @include respond-at($bp-small) {
      width: auto;
    }
  }
  transition-property: all;
  transition-duration: 0.5s;
}

.navLink {
  text-decoration: none;

  &:hover {
    border-bottom: 1px solid black;
  }
}

.logoContainer {
  padding-left: 20px;
}

.logo {
  width: 90px;
  height: auto;
}

.pageSubHeading {
  margin-top: 0;
}

#facebookLink {
  & > svg {
    width: 40px;
    height: 40px;
  }
}
// These trigger the bold/underline to indicate which page the user is currently on
.pageOnHome {
  #homeLink {
    font-weight: 600;
    border-bottom: 1px solid $primary-color;
  }
}

.pageOnAbout {
  #aboutLink {
    font-weight: 600;
    border-bottom: 1px solid $primary-color;
  }
}

.pageOnProjects {
  #projectsLink {
    font-weight: 600;
    border-bottom: 1px solid $primary-color;
  }
}

.pageOnPrograms {
  #programsLink {
    font-weight: 600;
    border-bottom: 1px solid $primary-color;
  }
}

.pageOnWhoweserve {
  #whoweserveLink {
    font-weight: 600;
    border-bottom: 1px solid $primary-color;
  }
}

.pageOnVolunteer {
  #volunteerLink {
    font-weight: 600;
    border-bottom: 1px solid $primary-color;
  }
}

.pageOnContact {
  #contactLink {
    font-weight: 600;
    border-bottom: 1px solid $primary-color;
  }
}

.pageOnDonate {
  #donateLink {
    font-weight: 600;
    border-bottom: 1px solid $primary-color;
  }
}
