/* Responsive Website Stuff */

/* This is to make sure that the border and padding are included in the total width and height of all elements */
*{
box-sizing: border-box;
}

/* The pages on this website are devided into 12 columns */
/* 100% of the page divided by 12  = 8.33% */

/* All these columns should be floating to the left and should have a padding of 15 px per the responsive website specification*/

.col-1 { 
width: 8.33%;
float: left;
padding: 15px;
}
.col-2 { 
width: 16.66%;
float: left;
padding: 15px;
}
.col-3 { 
width: 25%;
float: left;
padding: 15px;
}
.col-4 { 
width: 33.33%;
float: left;
padding: 15px;
}
.col-5 { 
width: 41.66%;
float: left;
padding: 15px;
}
.col-6 { 
width: 50%;
float: left;
padding: 15px;
}
.col-7 { 
width: 58.33%;
float: left;
padding: 15px;
}
.col-8 { 
width: 66.66%;
float: left;
padding: 15px;
}
.col-9 { 
width: 75%;
float: left;
padding: 15px;
}
.col-10 { 
width: 83.33%;
float: left;
padding: 15px;
}
.col-11 { 
width: 89.66%;
float: left;
padding: 15px;
}
.col-12 { 
width: 100%;
float: left;
padding: 15px;
}

.row:after {
    content: "";
    clear: both;
    display: block;
}


.header {
  background-color: rgba(234,231,43,0.0);
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.0);
  position: absolute;
  width: 100%;
  z-index: 3;
  
 /* animation-name: headerAnim;
  animation-duration: 3s;*/
}
/*
@keyframes headerAnim{
0%{width:50%;-webkit-transition-timing-function: linear;}
100%{width:100%;-webkit-transition-timing-function: linear;}
}
*/
 @media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }
}


.header ul {
	margin-top:25px;
  vertical-align: middle;
  padding: 0;
  list-style: none;
  overflow: hidden;
  
  
}

/* mobile */
.header li a {
  display: block;
  padding: 10px 10px;
  vertical-align:middle;
  text-decoration: none;
  font-family: 'Allerta', sans-serif;
  color:#666;
  text-shadow: 0 0 1px #666;
  text-decoration: none;
  -webkit-transition-property: color;
  -webkit-transition-timing-function:ease-in;
  -webkit-transition-duration: 1s;
  -moz-transition-property: color;
  -moz-transition-timing-function:ease-in;
  -moz-transition-duration: 1s;
  border:1px dotted #CD5C5C;
}

.header li a:hover {
  color:#f1c40f;
  text-shadow: 0 0 1px #f1c400;
 
}
 
 @media only screen and (min-width:768px){
.header li a {
  padding: 20px 20px;
  color:#666;
  text-shadow: 0 0 1px #666;
  border: none;
  -webkit-transition-property: color;
  -webkit-transition-timing-function:ease-in;
  -webkit-transition-duration: 1s;
  -moz-transition-property: color;
  -moz-transition-timing-function:ease-in;
  -moz-transition-duration: 1s;
  
}
 
.header li a:hover {
  color: #CD5C5C;
  text-shadow: 0 0 1px #4B8A08;
    
}
}
a .menuItems {
padding-top:2px;
padding-bottom:2px;
padding-left:5px;
padding-right:5px;
 
 }

.header .logo {
  display: block;
  float: left;
  font-size: 3em;
  padding: 10px 20px;
  text-decoration: none;
}
  
  /* mobile */
 .img{
 height:50px;
 }
 
 /* Desktop */
 @media only screen and (min-width:768px){
 .img{
 height:90px;
 }
 
 }
  
.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
  
}

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}
 
 /* This is the hamburger icon */
.header .menu-icon .navicon {
  background: #000;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}
 
 /* This is the hamburger icon */
.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #000;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}
 
.header .menu-icon .navicon:before {
  top: 7px;
}
 
.header .menu-icon .navicon:after {
  top: -7px;
}
.header .menu-btn {
  display: none;
}


.header .menu-btn:checked ~ .menu {
  max-height: 240px;
 
}

/* Mobile - Drop Down Menu */
.header .menu-btn:checked ~ .menu {
  background-color:rgba(0,0,0,0.1);
}


/* Desktop - Drop Down Menu*/
@media only screen and (min-width:768px){
.header .menu-btn:checked ~ .menu {
		background: transparent;
		max-height: 240px;
  }
}

/* mobile*/ 
.header .menu-btn:checked ~ .menu li{
  background-color:rgba(0,0,0,0.1);
  -webkit-transition-property: background-color;
  -webkit-transition-timing-function:ease-in;
  -webkit-transition-duration: 1s;
  -moz-transition-property: background-color;
  -moz-transition-timing-function:ease-in;
  -moz-transition-duration: 1s;
}
.header .menu-btn:checked ~ .menu li:hover{
  background-color:rgba(0,0,0,0.2);
}

 /*Desktop - Drop Down Menu*/
@media only screen and (min-width:768px){
.header .menu-btn:checked ~ .menu li{
  background-color:rgba(0,0,0,0.0);
  

}
.header .menu-btn:checked ~ .menu li:hover{
  background-color:rgba(0,0,0,0);
}*/


}

 
.header .menu-btn:checked ~ .menu-icon .navicon {
 background: transparent;
 }
 
.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}
 
.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}
 
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}
	
@media (min-width: 48em) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}

.fullscreen-bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

.fullscreen-bg__video {
    position: absolute;s
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Full Screen */
@media (min-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    height: 300%;
    top: -100%;
  }
}

/* Tablet Size */
@media (max-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    width: 300%;
    left: -200%;
  }
}

@media (max-width: 768px) {
  .fullscreen-bg {
    background: url('Images/3.jpg') center center / cover no-repeat;
  }

  .fullscreen-bg__video {
    display: none;
  }
}

/* Mobile */

.Title {
		width:100%;
		height:auto;
		padding:2%;
		margin-top:250px;
		margin-left:auto;
		margin-right:auto;
		text-align: center;
		text-shadow: 0 1px 0px #000;
		font-family: 'Allerta', sans-serif;		
		font-size: 1.3em;
		font-weight: bold;
		color:  #1f618d  ;
		line-height:120%;
		z-index: 100;		
}
/* desktop */
@media only screen and (min-width:768px){
	.Title {
		width: 950px;
		height:100px;
		text-shadow: 0 0px 0px #000;
		background-color:rgba(0,0,0,0);
		margin-top:200px;
		font-size: 2.5em;
		font-family: 'Slabo 27px', serif;
		font-weight: normal;
		color: #1f618d;
		opacity: 1;
		animation-name: homeBoxAnim;
		animation-duration:2s;
		}	
}

/* Mobile */
#SubTitle {
		font-size: 0.7em;
		font-weight:normal;
		font-family: 'Slabo 27px', serif;
		color:  #000;
		text-shadow: 0 0 1px #fff6d4;		
		opacity: 0.9;
		z-index: 100;
}

/* desktop */
@media only screen and (min-width:768px){
	#SubTitle {
		font-weight: normal;
		font-family: 'Poiret One', cursive;
		color:  #444;
		font-size:0.7em;
	}
}


@keyframes homeBoxAnim{
0%{
margin-top: 400px;
-webkit-transition-timing-function:linear;
}

100%{
margin-top:200px;
-webkit-transition-timing-function:linear;
}
}

a:link  {
color: #2b41ab ;
text-decoration: none;
}

a:active {
color:#Dffeee;
}

a:hover {
color: #19184c;
}

hr {
border: 0;
border-bottom: 1px solid #eee;
background: #999;
}

.center{
border-left: auto;
border-right: auto;
text-align: center;
}


#homeContent {
margin-top:300px;

}

@media only screen and (min-width:768px){
#homeContent {
position: relative;
margin-top:100px;
height:700px;
background-image:url('Images/12.jpg');
background-size: cover;
width:100%;
}

}

#paragraphStyle1 {
		position: relative;
		top: 0px;	
		/*font-family: Georgia, sans-serif;*/
		font-family: 'Arapey', serif;
		/*font-family: 'Monda';8*/
		font-size: 100%;
		line-height: 150%;
		color: #777777;
		padding: 2%;
		text-align: center;
		vertical-align: middle;
		max-width:100%;
		
	}

@media only screen and (min-width:768px){
	#paragraphStyle1 {
			max-width:80%;
	}
}


#paragraphStyle2 {
margin-top:100px;
	font-family: 'Arapey', serif;
	font-size: 2em;
	line-height: 150%;
/*	color:   #566573 ;	*/
color: #fff;
	text-align: center;
	max-width:100%;
	height:auto;
}

@media only screen and (min-width:768px){
	#paragraphStyle2 {
	margin-top:0px;
	
	}
}


#homeband {
position: relative;
background-image:url('Images/6.jpg');
height:250px;
max-width:100%;
vertical-align: middle;
color:  #ffffff ;
opacity:1;

}

/* Mobile */
#background {
	position: relative;
	margin-top: 0px;
	background-image:url('Images/8.jpg');
	background-size:cover;
	background-repeat: no-repeat;
	background-size: cover;
	height: 250px;
	text-align: left;
	vertical-align: middle;
	opacity:1;
	z-index:-200;
}

#paragraphStyle3{
	width:10%;
	font-size:2.0em;
	text-shadow:0 2px 2px  #ca6f1e ;
	font-family: 'Lobster', cursive;
	text-align: left;
	color: #fff;
}



/* Desktop */

@media only screen and (min-width:768px){
	#background {
	margin-top: 200px;
	height: 400px;
	text-align: left;
	}

	#paragraphStyle3{
	font-size:1.8em;
	text-align: left;
	}
}

#background1 {
	background-image:url('Images/0.jpg');
	background-size:100% 100%;
	height:250px;
	color:#fff;
	padding-top:10%;
	padding-left:10%;
	font-size:2.5em;
	text-shadow:0px 0px 6px #ffffff;
	background-color: rgba(0, 0, 0, 0.3);
	max-width: 100%;
	}


@media only screen and (min-width:768px){
#background1 {
	height:100%;
	}
}

#SocialMedia{
background-color:#fff;
vertical-align: middle;
font-size:1.2em;
color:#1f618d;
text-shadow:0 0 0px  #fff ;
font-family: 'Arapey', serif;
height:75px;

}



button{
background-color: #f4b51c;
border-radius: 10px;	
border: 1px solid #000000;
height: 40px;
color: #ffffff;
}

button:hover {
background-color: #f4b51c;
border-radius: 10px;	
border: 1px solid #000000;
height: 40px;
color: #ffffff;
transform: scale(1.5) ;
}



/*------------------------------------ Alice --------------------------*/

#devices {
	font-family: 'Slabo 27px', serif;
}

#teaCup {
position: absolute;
margin-top:100px;
background-image:url('Images/teaCup.jpg');
width:100%;
height: 500px;
padding:0;	
}

#paragraph {
	position: relative;
	margin-top:600px;
	/*font-family: Georgia, sans-serif;*/
	font-family: 'Raleway', sans-serif;
	/*font-family: 'Monda';8*/
	font-size: 120%;
	line-height: 150%;
	color: #000;
	padding: 5%;
	text-align: center;
	vertical-align: middle;
	max-width: 80%;
	opacity: 1;
}


#Alice {
background-image:url('Images/Alice.jpg');
margin:auto;
background-size:100% 100%;
height: 80%;
padding:0;
}

#Banking {
background-image:url('Images/Banking.jpg');
margin:auto;
background-size:100% 100%;
height: 80%;
padding:0;
}

#Sign {
background-image:url('Images/Sign.jpg');
margin:auto;
background-size:100% 100%;
height: 80%;
padding:0;
}

#Bugs {
background-image:url('Images/bugs.jpg');
margin:auto;
background-size:100% 100%;
height: 80%;
padding:0;
}

#Compliance {
background-image:url('Images/Compliance.jpg');
margin:auto;
background-size:100% 100%;
height: 80%;
padding:0;
}

#UserFriendly {
background-image:url('Images/Grandfather.jpg');
margin:auto;
background-size:100% 100%;
height: 80%;
padding:0;
}

#Integration {
background-image:url('Images/integration.jpg');
margin:auto;
background-size:100% 100%;
height: 80%;
padding:0;
}

/*--------------------------------------About Us ----------------*/

#buildings{
background-image:url('Images/buildings.jpg');
background-size: 100% 100%;
height:80%;
top:0;
padding:0;
}