{% extends 'base.twig' %}

{% block primarycontent %}
<main>
<div class="flexContainer">
  <div class="flexImage flexItem" style="background-image: url('images/{{ image1 }}')"></div>
  <div class="flexText flexItem">
    <h2>Who is Westerville Caring & Sharing?</h2>
    <p>Westerville Caring & Sharing (WC&S), a community-centered charity, is an all-volunteer organization founded in 1988 by the Westerville Area Chamber of Commerce and the Westerville YWCA to reach out to Westerville City School District students/families who are in need.<br><br> The organization started as a holiday program for families who were having economic difficulties due to low-paying jobs, illness, job loss, or disaster. The purpose of Westerville Caring & Sharing is to help people get back on their feet, especially around back-to-school and holiday time. WC&S is an all volunteer, charitable organization, which became a 501(c)3 charitable organization in 1993 . WC&S is not associated with any organization or business.</p>
  </div>
  <div class="flexText flexItem">
    <p>WC&S has been helping the Westerville community for 25 years and will continue its commitment to the Westerville community for many more years. WC&S is one of a few 501(c)3 charities in the Westerville community that is all-volunteered based. The volunteers work out of their homes, volunteer their time, and organize and implement fundraisers to cover the cost of administrative expensive, such as postage, office supplies, voicemail, etc. No part of a personal donation is used for any business-related expenses. Although many people volunteer for the two annual programs—Back-to-School and the Holiday Project, WC&S has only a core of ten to twelve individuals who plan and organize these endeavors.</p>
  </div>

  <div class="flexImage flexItem" style="background-image: url('images/{{ image2 }}')"></div>
  <div class="flexImage flexItem" style="background-image: url('images/{{ image1 }}')"></div>
  <div class="flexText flexItem">
    <p>Westerville Caring & Sharing’s mission is to encourage individuals, businesses, civic, church, and school groups in the Westerville area to care for the less fortunate and to share their resources of time, funds, and energy. The two annual programs that WC&S sponsors—Back-to-School and the Holiday Project—require donations in the forms of money, school supplies, food, gifts, etc.</p>
  </div> 
  <!-- <div class="flexText flexItem">
    <h2>Board Members</h2>
    <ul class="infoList">
        <li><strong>President:</strong> Barbara McCoy</li>
        <li><strong>Co-Vice President:</strong> Mary Pugh</li>
        <li><strong>Co-Vice President:</strong> Bobbie Nelson</li>
        <li><strong>Treasurer:</strong> Michelle Brown</li>
        <li><strong>Secretary:</strong> Charlene Sourvanos</li>
        <li><strong>Communications & Social Media Coordinator:</strong> Michelle Brown</li>
    </ul>
  </div>
  <div class="flexText flexItem">
    <h2>Past Presidents</h2>
    <ul class="infoList">
      <li>Gayle Carr</li>
      <li>Max Peoples</li>
      <li>Bobbie Nelson</li>
      <li>Patti Stewart</li>
      <li>Mary Pugh </li>
    </ul>
  </div> -->
</div>

</main>

{% endblock %}
