{% extends 'base.twig' %}

{% block primarycontent %}
  <main>
    <div class="flexContainer">
      <div class="flexImage flexItem" style="background-image: url('images/{{ image1 }}')"></div>
      <div class="flexText flexItem">
        <h2>Who is Westerville Caring & Sharing?</h2>
        <p>Westerville Caring and Sharing (WC&S) became a 501(c)3 charitable organization in 1993. We are not associated with any organization or business. No part of any personal donation is used for any business-related expenses. All funding for these
          expenses are raised through our garage sales. Our mission is to encourage individuals, businesses, civic, church, and school groups in the Westerville area to care for the less fortunate and to share their resources of time, funds, and energy. We
          have been helping the Westerville community for 30 years and will continue our commitment to the Westerville community for many more years.</p>
      </div>
      <div class="flexText flexItem">
        <h2>Community Recognition</h2>
        <ul class="infoList">
          <li>
            <strong>1991</strong>
            Westerville City Council resolution commending WC&S for helping Westerville families</li>
          <li>
            <strong>2000</strong>
            finalist for the Jefferson Award</li>
          <li>
            <strong>2001</strong>
            Columbus Dispatch Community Service Award winner</li>
          <li>
            <strong>2001</strong>
            Westerville Area Chamber of Commerce Service Award</li>
          <li>
            <strong>2005</strong>
            Rotary Club of Westerville’s A. Monroe Courtright Community Service Award</li>
          <li>
            <strong>2013</strong>
            Westerville City Council proclamation honoring WC&S on 25 years of community service</li>
          <li>
            <strong>2018</strong>
            Westerville City Council proclamation honoring WC&S on 30 years of community service
          </li>
          <li>
            <strong>2018</strong>
            The State of Ohio recognizes WC&S on 30 years of community service
          </li>
        </ul>
      </div>
      <div class="flexImage flexItem" style="background-image: url('images/{{ image2 }}')"></div>
    </div>

  </main>

{% endblock %}
