{% extends 'base.twig' %}

{% block primarycontent %}
<main>
<div class="flexContainer">
  <div class="flexImage flexItem" style="background-image: url('images/{{ image1 }}')"></div>
  <div class="flexText flexItem">
    <p>With having a successful Holiday Project in 1988, the members of Westerville Caring & Sharing expanded a year later to help students with back to school supplies.  We give students the same type of school supplies and book bags that everyone else has. In addition to school supplies, personal hygiene products are also given as these items cannot be purchased with an EBT card.  It is important that these students start the school year on an equal footing with their peers.</p>
    <div class="readMoreContainer"><a class="readMoreLink" href="volunteer.html">Become A Volunteer!</a></div>
  </div>
</div>
</main>

{% endblock %}
