<!DOCTYPE html>
<html lang="en" dir="ltr">
  {% include 'partials/header.twig' %}

  <body>
    {% include 'partials/nav.twig' %}

    {% block primarycontent %}

    {% endblock %}
    {% include 'partials/footer.twig' %}
  </body>
</html>
