{% extends 'base.twig' %}

{% block primarycontent %}
  <main>
    <div class="flexContainer">
      <div class="flexText flexItem">
        <h2>Email</h2>
        <p>
          <a href="mailto:WestervilleCaringSharing@gmail.com">WestervilleCaringSharing@gmail.com</a>
        </p>
        <h2>Phone</h2>
        <p>
          <a href="tel:6144704320">614-470-4320</a>
        </p>
        <h2>Mail</h2>
        <p>P.O. Box 970 Westerville 43086</p>

      </div>
    </main>

  {% endblock %}
