{% extends 'base.twig' %}

{% block primarycontent %}
<main>
  <div class="flexContainer">
    <div class="flexImage flexItem" style="background-image: url('images/{{ image1 }}')"></div>
    <div class="flexText flexItem">
      <h2>Give Supplies</h2>
      <p>Many of our programs need school supplies and other items that are then redistributed to the community. If you would like to contribute, here is a list of items we need on an ongoing basis:</p>
      <ul class="infoList">
          <li>Pencils/pens</li>
          <li>Notebooks</li>
          <li>School backpacks</li>
          <li>Pencil erasers</li>
          <li>etc</li>
          <li>etc</li>
      </ul>
      <p>If you would like to donate any of these items or any additional items, please contact us at <a href="mailto:donate">donate@somewhere.com</a> and one of our volunteers will meet with you to receive the items.</p>
    </div>
    <div class="flexText flexItem">
      <h2>Give Money</h2>
      <p>Without generous monetary donations, many of our programs would never go anywhere. Money can be donated toward any of our programs or for special events and operating costs. Here is a list of the areas you can direct your financial giving:</p>
      <ul class="infoList">
          <li>Holiday Christmas Gift Drive</li>
          <li>Holiday Food Drive - Financial gifts allow WC&S volunteers to purchase additional food for distribution</li>
          <li>Back To School Clothing and Food</li>
          <li></li>
          <li></li>
          <li>General Operating Expenses (Email, website, office supplies, mailings, etc)</li>
      </ul>
    </div>
    <div class="flexImage flexItem" style="background-image: url('images/{{ image1 }}')"></div>
  </div>
</main>

{% endblock %}


<!-- <div class="flexText flexItem">
  <h2>Board Members</h2>
  <ul class="infoList">
      <li><strong>President:</strong> Barbara McCoy</li>
      <li><strong>Co-Vice President:</strong> Mary Pugh</li>
      <li><strong>Co-Vice President:</strong> Bobbie Nelson</li>
      <li><strong>Treasurer:</strong> Michelle Brown</li>
      <li><strong>Secretary:</strong> Charlene Sourvanos</li>
      <li><strong>Communications & Social Media Coordinator:</strong> Michelle Brown</li>
  </ul>
</div>
<div class="flexText flexItem">
  <h2>Past Presidents</h2>
  <ul class="infoList">
    <li>Gayle Carr</li>
    <li>Max Peoples</li>
    <li>Bobbie Nelson</li>
    <li>Patti Stewart</li>
    <li>Mary Pugh </li>
  </ul>
</div> -->
