{% extends 'base.twig' %}

{% block primarycontent %}
  <main>
    <div class="flexContainer">
      <div class="flexText flexItem">
        <h2>Give Supplies</h2>
        <p>We collect needed school supplies, gift cards, and personal care items that are then redistributed to our Westerville school students. If you would like to contribute, here is a list of items we need on an ongoing basis:</p>
        <ul class="infoList">
          <li>Pencils/pens</li>
          <li>Notebooks</li>
          <li>School backpacks</li>
          <li>Pencil erasers</li>
          <li>Toilet paper</li>
          <li>Shampoo</li>
          <li>Dental products</li>
          <li>Shaving products</li>
        </ul>
        <p>If you would like to donate any of these items or any additional items, please contact us at
          <a href="tel:6144704320">614-470-4320</a>, leave a message, and someone will contact you.</p>
      </div>
      <div class="flexText flexItem">
        <h2>Give Money</h2>
        <p>We accept monetary donations through the Donate button on our website or through The Columbus Foundation. These donations can be one-time or recurring gifts. To donate visit, our page on
          <a href="https://columbusfoundation.org/the-giving-store/nonprofit-directory-listing/WestervilleCaringandSharing/7918">The Columbus Foundation</a>. Here are some ways your financial donation will be used:</p>
        <ul class="infoList">
          <li>Gift cards</li>
          <li>Food - Financial gifts allow WC&S volunteers to purchase additional food for distribution</li>
          <li>School Supplies</li>
          <li>Personal care products</li>
        </ul>
        <div class="readMoreContainer">
          <a class="readMoreLink" href="https://columbusfoundation.org/the-giving-store/nonprofit-directory-listing/WestervilleCaringandSharing/7918">Click Here To Donate Now!</a>
        </div>

      </div>
    </div>
  </main>

{% endblock %}
