{% extends 'base.twig' %}

{% block primarycontent %}
  <main>
    <div class="flexContainer">
      <div class="flexImage flexItem" style="background-image: url('images/{{ image1 }}')"></div>
      <div class="flexText flexItem">
        <h2>Holiday Gift Sponsorship</h2>
        <p>The Westerville Caring & Sharing Holiday Project assists students and their families with gifts, food baskets, personal hygiene and household products through a sponsorship, consisting of individuals and/or businesses/organizations. The Christmas
          sponsorship is a community-wide project where we recruit sponsors to provide items from a student’s wish list. Every year, families fill out an application to participate in the Holiday Project. Once accepted, students and/or parents /guardians fill
          out a wish-list where requests for clothing, toys, electronics, books, etc are recorded. A sponsor is then matched with a student(s) to purchase items from the wish list. The sponsors then deliver the gifts to the distribution site.
          <br><br>
          The Westerville community supports us in many ways. Civic groups donate winter coats for children ranging in age from pre-school to high school. Many restaurants donate a portion of the day’s proceeds to Westerville Caring and Sharing. Fundraisers
          from different organizations and school students were held to raise money to buy gift certificates and other items for students and their families. As an example of student involvement with WC&S, Westerville elementary students raised $225.81 by
          collecting pennies. In 2010, the three high schools donated $39,465.</p>
        <div class="readMoreContainer">
          <a class="readMoreLink" href="donate.html">Donate Now!</a>
          <a class="readMoreLink" href="volunteer.html">Become A Volunteer!</a>
        </div>
      </div>
      <div class="flexText flexItem">
        <h2>Food Drive</h2>
        <p>The food drive is a community-wide project. Over 50 Westerville community businesses allow donation boxes to be placed on their premises. In addition, organizations, civic groups, city employees, and the school district have their own food drives,
          and donate what they collect to Westerville Caring and Sharing. During one Holiday Project, Westerville City middle school students collected approximately 8,000 canned goods; and at another time, city employees donated approximately 8,200 pounds of
          food.</p>
        <div class="readMoreContainer">
          <a class="readMoreLink" href="donate.html">Donate Now!</a>
          <a class="readMoreLink" href="volunteer.html">Become A Volunteer!</a>
        </div>
      </div>
      <div class="flexImage flexItem" style="background-image: url('images/{{ image2 }}')"></div>
    </div>
  </main>

{% endblock %}
