{% extends 'base.twig' %}

{% block primarycontent %}
<main>
<div class="flexContainer">
  <div class="flexText flexItem">
    <p class="centerText"><strong>Our mission is to encourage individuals, businesses, civic, church, and school groups in the Westerville area to care for the less fortunate and to share their resources of time, funds, and energy.</strong></p>
  </div>
</div>
<div class="flexContainer">
  <div class="flexImage flexItem" style="background-image: url('images/{{ image1 }}')"></div>
  <div class="flexText flexItem">
    <h2>About Us</h2>
    <p>Westerville Caring & Sharing (WC&S), is a community-centered 501(c)3 charitable organization that reaches out to Westerville City School District students/families who are in need. The purpose of Westerville Caring & Sharing is to help people get back on their feet, especially around back-to-school and holiday time.</p>
    <div class="readMoreContainer"><a class="readMoreLink" href="about.html">Read more</a></div>
  </div>
  <div class="flexText flexItem">
    <h2>Who We Serve</h2>
    <p>Westerville Caring & Sharing serves Westerville students who qualify for the subsidized lunch program. WC&S also provides school supplies and holiday gifts to students whose families are having economic difficulties due to job loss, illness, or disaster.</p>
    <div class="readMoreContainer"><a class="readMoreLink" href="whoweserve.html">Read more</a></div>
  </div>

  <div class="flexImage flexItem" style="background-image: url('images/{{ image2 }}')"></div>
</div>
</main>

{% endblock %}
