{% extends 'base.twig' %}

{% block primarycontent %}
<main>
  <div class="flexContainer">
    <div class="flexTextThin flexItem">
      <h2>Christmas Sponsorship Program</h2>
      <p>Volunteers for the Christmas Sponsorhip Program are needed starting in November to organize stuff and do things.</p>
    </div>
    <div class="flexTextThin flexItem">
      <h2>Food Drive Program</h2>
      <p>The holiday food drive program needs volunteers to sort food and organize things into categories and help load bags that are then distributed to the families.</p>
    </div>
    <div class="flexTextThin flexItem">
      <h2>Christmas Sponsorship Program</h2>
      <p>Volunteers for the Christmas Sponsorhip Program are needed starting in November to organize stuff and do things.</p>
    </div>
    <div class="flexTextThin flexItem">
      <h2>Food Drive Program</h2>
      <p>The holiday food drive program needs volunteers to sort food and organize things into categories and help load bags that are then distributed to the families.</p>
    </div>
  </div>
</main>

{% endblock %}
