{% extends 'base.twig' %}

{% block primarycontent %}
  <main>
    <div class="flexContainer">
      <div class="flexTextThin flexItem">
        <h2>Christmas Sponsorship Program</h2>
        <p>Help a child or family have a wonderful holiday by sponsoring a child or family.
          <a href="contact.html">Contact us</a>
          for more information on how you can help.</p>
      </div>
      <div class="flexTextThin flexItem">
        <h2>Food Drive Program</h2>
        <p>The holiday food drive program needs volunteers to collect, sort, and organize food and personal care products into categories.
          <a href="contact.html">Contact us</a>
          if you would like to conduct a food drive, provide personal care products, or volunteer to help sort these items.</p>
      </div>
      <div class="flexTextThin flexItem">
        <h2>Back To School Project</h2>
        <p>Help a student have a successful school year by donating school supplies or conducting a school-supplies drive.
          <a href="contact.html">Contact us</a>
          for more information on how you can help.</p>
      </div>
      <div class="flexTextThin flexItem"></div>
    </div>
  </main>

{% endblock %}
