{% extends 'base.twig' %}

{% block primarycontent %}
<main>
  <div class="flexContainer">
    <div class="flexImage flexItem" style="background-image: url('images/{{ image1 }}')"></div>
    <div class="flexText flexItem">
      <p>Westerville Caring & Sharing serves Westerville students who qualify for the subsidized lunch program. WC&S also provides school supplies and holiday gifts to students whose families are having economic difficulties due to job loss, illness, or disaster. In the September 1992 Columbus Monthly magazine edition, the city of Westerville was the 5th wealthiest community in Central Ohio. Many people in the Westerville and in the Columbus metropolitan areas have the perception that there are no poor people living in Westerville. The median income in 2000 for Westerville residents was $69,131. In 2010, the median income was $80,932 . Even though the median income is high, a large number of Westerville students are on the free and reduced-price lunch program.
        <br><br>
      WC&S has been able to help only a fraction of the students on the lunch program at back to school time and during the holidays. Every school in the Westerville district is helped by Westerville Caring & Sharing.
      <br><br>
      to School Project, the goal fell short by $12,000. For the 2002 Holiday Project, donations were down while more families are seeking help . Money was needed for gift cards, which are given to students for purchasing clothes.
      <br><br>
      In 2009, WC&S stopped mailing the Holiday Project applications due to the cost of postage. As a result, applications are now handed out at the Westerville Library on established days. By not mailing the applications, probably half of the families were not reached for the Holiday Project. Volunteers, on occasions, donate their own money for administrative costs.
      <br><br>
      In August 2010, WC&S saw an increase in requests for help with back-to-school supplies. Without the ability to help more students, the organization had to hold firm on the application deadline. The total number of students assisted in the Back-to-School Project was a record number of 400 students Mary Pugh, WC&S President said” It’s very special for us to be able to give back to so many kids, but it’s also sad that there are so many that need our help.”
        <br><br>
      Over the years WC&S has raised awareness on the need for donations for both the Back-to-School Project and the Holiday Project. Without the support of the community, WC&S could not give the students the necessary school supplies or holiday gifts every year.</p>
    </div>
  </div>
</main>

{% endblock %}
