{% extends 'base.twig' %}

{% block primarycontent %}
  <main>
    <div class="flexContainer">
      <div class="flexImage flexItem" style="background-image: url('images/{{ image1 }}')"></div>
      <div class="flexText flexItem">
        <p>Westerville Caring and Sharing serves Westerville students who qualify for the subsidized lunch program. We provide school supplies and holiday gifts to students whose families are having economic difficulties due to job loss, illness, or
          disaster. Every school in the Westerville district is helped by Westerville Caring & Sharing.
          <br><br>
          The median income for Westerville residents was ~$85,230. Even though the median income is high, a large number of Westerville students are on the free and reduced-price lunch program.
          <br><br>
          Through the years, we have raised awareness on the need for donations for both the Back-to-School Project and the Holiday Project due to an increase in request for help. Without the support of the community, we could not give the students the
          necessary school supplies or holiday gifts every year.</p>
      </div>
    </div>
  </main>
{% endblock %}
